@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --text: #333;
    --purple: #A883B6;
    --blue: #91CCD9;
    --orange: #F28D52;
    --light-orange: #F2B872;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    color: var(--text);

    background-color: var(--blue);
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

main.login{
    background-color: #fff;
    width: 250px;
    height: 500px;
    border-radius: 8px;
    overflow: hidden;

    box-shadow: 0 0 10px rgba(0,0,0,0.28);
}

section#img{
    background: var(--blue) url(../img/friend.jpg) no-repeat; 
    background-size: cover;
    height: 200px;
    display: block;
}

section#form{
    padding: 15px;
    display: block;
}