@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --amarelo: hsl(47, 88%, 63%);
    --cinza-claro: hsl(0, 0%, 42%);
    --cinza-escuro: hsl(0, 0%, 7%);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Figtree', sans-serif; /* 500 e 800 */
    background-color: var(--amarelo);
    color: var(--cinza-escuro);
    margin: 5px;
}

main{
    background-color: white;
    min-width: 310px;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 8px 8px 1px black;
    border: 1px solid black;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section{
    width: 90%;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 10px 0px;
}

section#s1{
    padding-bottom: 0px;
}

section#s3{
    padding-top: 0px;
    display: flex;
    align-items: center;
}

p{
    padding: 5px 0px;
    font-weight: 600;
}

p#learning{
    background-color: var(--amarelo);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1em;
    display: inline-block;
    font-weight: 900;
}

p#text{
    color: var(--cinza-claro);
    font-size: 1em;
    line-height: 1.4em;
}

p#name{
    font-weight: 600;
    display: inline-block;
    margin-left: 1em;
    font-weight: 900;
}

h1{
    padding: 10px 0px;
    font-weight: 900;
}

h1:hover{
    color: var(--amarelo);
}

img#illustration{
    width: 100%;
    margin: auto;
    border-radius: 15px;
}

img#avatar{
    display: inline-block;
    width: 32px;
    height: auto;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer p{
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    text-decoration: none;
    color: var(--cinza-escuro);
}

footer a:hover{
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.405);
}