@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --laranja: hsl(25, 97%, 53%);
    --cinza-claro: hsl(217, 12%, 63%);
    --cinza-medio: hsl(213, 19%, 18%);
    --cinza-escuro: hsl(216, 12%, 8%);
    --cinza-fim: hsl(214,25%,13%);
    --circulo : hsl(215,26%,23%);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cinza-escuro);
    font-family: "overpass", sans-serif;
    height: 100vh;
    color: white;
    margin: 5px;
}

main{
    min-width: 300px;
    max-width: 500px;
    background-image: linear-gradient(180deg, var(--cinza-medio), var(--cinza-fim));
    border-radius: 15px;
    padding: 20px;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

section{
    padding: 5px;
}

div{
    background-color: var(--circulo);
    width: 45px;
    height: 45px;
    margin-top: 8px;
    margin-bottom: 6vh;
    border-radius: 100%;
    
    display: flex; 
    justify-content: center; 
    align-items: center;
}


h1{
    font-weight: 400;
    font-size: 1.6em;
    margin: 10px 0px;
}

section > p{
    line-height: 1.6em;
    color: var(--cinza-claro);
    font-size: 15px;
}

label{
    margin: 25px 20px;
    display: inline-block;
}

label > input{
    display: none;
}

.num{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: var(--circulo);
    border-radius: 100%;
    justify-content: center; 
    align-items: center;
    font-size: 16px;
    color: var(--cinza-claro);
    transition: background-color 0.4s;
}

input:checked + .num{
    background-color: var(--laranja);
    color: var(--cinza-escuro);
}

input#submit{
    background-color: var(--laranja);
    width: 100%;
    padding: 15px 0px;
    margin: 10px 0px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.4em;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 8px 0px;
    padding: 5px;
}

footer > p{
    text-align: center;
    color: var(--cinza-claro);
    font-size: 0.8em;
    font-weight: 400;
}

footer a{
    text-decoration: none;
    color: var(--cinza-claro);
}

footer a:hover{
    color: white;
}